{% extends 'base.html' %}

{% block content %}
<div class="container" style="min-height: 500px;display: flex; align-items:center;justify-content: flex-start;background-color: rgb(228, 174, 223);">
    <div class="row" >
        <div class="col-md-12" >
            <h1>Teacher Dashboard</h1>
            {% if messages %} 
            <div class="messages">
                {% for message in messages %}
                <li style="width: 30%;" {% if message.tags %} class="{{ message.tags }} p-3 mb-2 bg-success text-white "{% endif %}>{{ message }}</li>
                {% endfor %}
            </div>
            {% endif %}
           
             
            <h4>Name of the teacher: {{ request.user.username }}</h4>
            <h5 style="text-decoration: underline;">Subjects Teaching</h5>
                {% for subjects_teaching in subject_taught %}
                    <p>{{ subjects_teaching }}, <a  class="btn btn-outline-primary" href="{{ subjects_teaching.get_absolute_url }}">View quiz</a>  </p>
                   
                    
                {% endfor %}
            
             
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                
                    <button class="submit-button btn btn-lg btn-warning " type="submit">Add subject</button>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
        </div>
    </div>
</div>
{% endblock %}

