{% extends 'base.html' %}

{% block content %}



<div class="container" style="min-height: 500px; display: flex;justify-content:center;align-items: center;"  >
    <div class="row" style="display: flex;align-items: center; " >
        <div class="col-md-12" style="min-height: 300px;"  >
            <h2 style="font-size: 50px;" style="text-align: center;">Welcome to The Quiz App</h2>

            {% if request.user.is_authenticated %}
                    {% if request.user.is_teacher %}
                        <h3>Post your  questions</h3>
                    {% else %} 
                        <h3>Answer your  questions</h3>
                    {% endif %}
            {% else %}  
                <div style="display: flex;justify-content:center; ">
                    <a class="btn btn-primary" href="{% url 'student:register' %}" tabindex="-1" aria-disabled="true">Sign Up as a Student</a>
                     <a class="btn btn-secondary" href="{% url 'teacher:register' %}" tabindex="-1" aria-disabled="true">Sign Up as a Teacher</a>
                </div>
                
            {% endif %}
            
        </div>
    </div>
</div>



{% endblock %}