{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Answer Quiz</h1>
            {% if messages %}

            <div class="messages">
                {% for message in messages %}
                <li style="width: 30%;" {% if message.tags %} class="p-2 mb-2 bg-success text-white {{ message.tags }} "{% endif %}>{{ message }}</li>
                {% endfor %}
            </div>
            {% endif %}


            {{ quiz }}
            <form method="POST">
                
                {% csrf_token %}

                {{ form.as_p }}
                <button class="btn btn-lg btn-primary" type="submit">Submit</button>
            </form>

        </div>
    </div>
</div>


{% endblock %}