{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row min-height d-flex align-items-center">
    <div class="col-md-7">
      <div class="card">
        <div class="card-header">
          <h1>
            Student Profile
            <h3>Name of student:{{ request.user.username }}</h3>
          </h1>
        </div>
        <div class="card-body">
          <h3>List of Subjects taken by student:</h3>
          {% for student_subject in student_subjects%}
          <p>
            {{ student_subject }}
            <a
              class="btn btn-outline-primary"
              href="{% url 'student:view_quiz' student_subject.slug %}"
              >View quiz</a
            >
          </p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
